@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: true;

  --color-primary: #12357a;
  --color-secondary: teal;
}

a.active {
  color: #ff512f;
}

.custom-bg {
  background-color: #e6f0fc;
}

.custom-container {
  @apply max-md:px-3 md:w-11/12 xl:w-10/12 mx-auto;
}

.logo-color {
  background-image: linear-gradient(
    to right,
    #1a2980 0%,
    #26d0ce 51%,
    #1a2980 100%
  );
  background-size: 200% auto;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #1a2980 0%,
    #26d0ce 51%,
    #1a2980 100%
  );
}

.btn-grad {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  outline: none;
  border: none;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
/* slider */
.swiper-slide img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.btn-slide-btn {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
}

.btn-slide-btn {
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
}

.btn-slide-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/* custom heading style */
.custom-head {
  @apply text-4xl md:text-5xl lg:text-6xl font-extrabold text-primary uppercase;
}

/* hover effect */
.element {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.element:hover {
  transform: scale(1) translateY(-5px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

/* shine */
